.formtable input {
    width: 270px;
    margin: 2px;
}

.bdr-error {
    color: red;
}

/* Fixes for Eionet CSS */

.input-hint a {
    vertical-align: inherit;
}

.datatable .scope-pad {
    padding-left: 10px;
}

.datatable .scope-row {
    padding-right: 10px;
}


.actions {
    margin: 10px 0;
}

.actions a {
    margin-right: 5px;
}
.actions .back {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}
