.formtable input {
    width: 270px;
    margin: 2px;
}

.bdr-error {
    color: red;
}

/* Fixes for Eionet CSS */

.input-hint a {
    vertical-align: inherit;
}

.datatable .scope-pad {
    padding-left: 10px;
}

.datatable .scope-row {
    padding-right: 10px;
}
