{% load widget_tweaks %}


<form id="organisation-filters">

  <label for="{{ form.country.auto_id }}">
    <small><b>{{ form.country.label }}</b></small></label>
  {% render_field form.country data-column-index=4 data-value='text' class='filter_data' %}

  <label for="{{ form.obligation.auto_id }}">
    <small><b>{{ form.obligation.label }}</b></small></label>
  {% render_field form.obligation data-column-index=2 data-value='text' class='filter_data' %}

  <label for="{{ form.account.auto_id }}">
    <small><b>{{ form.account.label }}</b></small></label>
  {% render_field form.account data-column-index=3 data-value='val' class='filter_data' %}

  <label for="{{ form.created.auto_id }}">
    <small><b>{{ form.created.label }}</b></small></label>
  {% render_field form.created data-column-index=8 data-value='val' class='filter_data' %}

</form>
