{% extends '_management_base.html' %}
{% load utils %}
{% load widget_tweaks %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    <h2>{{ object }}</h2>

    <table>
      <tbody>

        {% for field in form %}
          <tr>
            <td>
              <label
                  for="id_{{ field.name }}"
                  class="question{% if field.field.required %} required{% endif %}">
                {{ field.label }}
              </label>
            </td>
            <td>
              {{ field }}
            </td>
          </tr>
        {% endfor %}

        <tr>
          <td colspan="2">
            <input type="submit" value="Save" />
          </td>
        </tr>

      </tbody>
    </table>

  </form>

{% endblock %}
