{% extends '_management_base.html' %}
{% load utils %}


{% block breadcrumbs %}

  <div class="breadcrumbitem">
    <a href="{% url 'home' %}">Registry</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations' %}">
      Organisations</a>
  </div>

  <div class="breadcrumbitemlast">
    {{ object }}
  </div>

{% endblock %}


{% block content %}

  {% include '_view.html' %}

  <h2>Comments</h2>
  <div class="sub-actions">
    <a href="{% url 'management:comment_add' object.pk %}" class="button">
      Add comment</a>
  </div>

  <table class="comment no-border">
    <tbody>

    {% for comment in object.comments.all %}
      <tr>
        <td class="content">
          <p>{{ comment.text|linebreaksbr }}</p>
          <p class="documentByLine">{{ comment.created|date:"d b Y" }}</p>
        </td>
        <td class="action">
          <a class='delete-link' href="{% url 'management:comment_delete' organisation_id=object.pk pk=comment.pk %}">
            <small>Delete comment</small>
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">
          <p>There are no comments for this organisation.</p>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  <h2>Persons</h2>
  <div class="sub-actions">
    <a href="{% url 'management:persons_add' pk=object.pk %}"
       class="button">
      Add a new person</a>
  </div>

  <ul>

    {% for person in object.people.all %}
      <li>
        <a href="{% url 'management:persons_view' pk=person.pk %}">
          {{ person.formal_name }}</a>
      </li>
    {% endfor %}

  </ul>

{% endblock %}
