{% extends '_management_base.html' %}

{% block content %}

  {% include 'view.html' %}

  <h2>Comments</h2>

  <a href="{% url 'management:comment_add' object.pk %}">Add comment</a>

  {% for comment in object.comments.all %}
    <table class="datatable" style="width: 100%">
      <tbody>
        <tr>
          <th class="scope-row">Created</th>
          <td class="scope-pad">{{ comment.created }}</td>
        </tr>
        <tr>
          <th class="scope-row">Text</th>
          <td class="scope-pad">{{ comment.text|linebreaksbr }}</td>
        </tr>
      </tbody>
    </table>
    <a class='delete-link' href="{% url 'management:comment_delete' organisation_id=object.pk pk=comment.pk %}">Delete comment</a>
  {% endfor %}

{% endblock %}
