{% load utils %}


{% block content %}

  <h1>{{ object }}</h1>

  <div class="actions">
    {% if edit_url %}
      <a href="{{ edit_url }}" class="button">Edit</a>
    {% endif %}
    {% if delete_url %}
      <a href="{{ delete_url }}" class="button delete-link">Delete</a>
    {% endif %}
    <a href="{{ back_url }}" class="button">Back</a>
  </div>

  <form id="delete-form" action="{{ delete_url }}" method="post">
    {% csrf_token %}
  </form>

  <table class="datatable">

    <tbody>
      {% for field in fields %}
        <tr>
          <th class="scope-row">{{ field.verbose_name|capfirst }}</th>
          <td class="scope-pad">{{ object|getattribute:field.name }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
