{% extends '_management_base.html' %}
{% load widget_tweaks %}


{% block breadcrumbs %}

  <div class="breadcrumbitem">
    <a href="{% url 'home' %}">Registry</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations' %}">
      Organisations</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations_view' pk=object.pk %}">
      {{ object }}</a>
  </div>

  <div class="breadcrumbitemlast">
    Add comment
  </div>

{% endblock %}


{% block head %}

  <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>

  <style type="text/css">
    label {
      padding-bottom: 7px;
      display: block;
    }
  </style>

{% endblock %}


{% block content %}

  {% include '_edit_header.html' %}

  <form method="post">
    {% csrf_token %}
    <label for="{{ form.text.auto_id }}">
      <strong>{{ form.text.label }}</strong></label>
    {% render_field form.text %}<br><br>
    <button type="submit" class="primary_button">Save</button>

  <script>CKEDITOR.replace('id_text')</script>

  </form>

{% endblock %}
