{% extends '_management_base.html' %}
{% load widget_tweaks %}


{% block breadcrumbs %}

  <div class="breadcrumbitem">
    <a href="{% url 'home' %}">Registry</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations' %}">
      Organisations</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations_view' pk=object.pk %}">
      {{ object }}</a>
  </div>

  <div class="breadcrumbitemlast">
    Add person
  </div>

{% endblock %}



{% block content %}

  {% include '_edit.html' %}

{% endblock %}
