<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>

   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>BDR Company Registry</title>
   <script src="https://bdr.eionet.europa.eu/styles/pageops.js"></script>
   <link rel="stylesheet"
          media="print"
          href="https://www.eionet.europa.eu/styles/eionet2007/print.css" />
    <link rel="stylesheet"
          href="https://www.eionet.europa.eu/styles/eionet2007/screen.css"
          media="screen"
          title="Eionet 2007 style" />
    <link rel="stylesheet"
          href="https://bdr.eionet.europa.eu/styles/eionet2007.css"
          media="screen"
          title="Eionet 2007 style" />
    <link rel="stylesheet"
          media="handheld"
          href="https://www.eionet.europa.eu/styles/eionet2007/handheld.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <style>
      .formtable input {
          width: 270px;
          margin: 2px;
      }
      .bdr-error {
          color: red;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="toolribbon">
        <div id="lefttools">
          <a id="eealink" href="http://www.eea.europa.eu/">EEA</a>
          <a id="ewlink" href="http://ew.eea.europa.eu/">EnviroWindows</a>
        </div>
        <div id="righttools">
          {% if user.is_anonymous %}
            <a id="loginlink" href="{% url login %}?next={{ request.get_full_path }}">Login</a>
          {% else %}
            <a id="logoutlink" href="{% url logout %}"
              >Logout ({{ user.username }})</a>
          {% endif %}
          <a id="printlink" title="Print this page" href="javascript:this.print();"><span>Print</span></a>
          <a id="fullscreenlink" href="javascript:toggleFullScreenMode()" title="Switch to/from full screen mode"><span>Switch to/from full screen mode</span></a>
<!--
          <form action="search" method="get"><div id="freesrchform"><label for="freesrchfld">Search</label>
            <input type="text" id="freesrchfld" name="q"/>
            <input id="freesrchbtn" type="image" src="/styles/button_go.gif" alt="Go"/></div></form>
-->
        </div>
      </div> <!-- toolribbon -->
      <div id="pagehead">
        <a href="/" accesskey="1"><img src="https://bdr.eionet.europa.eu/styles/eea-print-logo.gif" alt="Logo" id="logo" /></a>
        <div id="networktitle">Eionet</div>
        <div id="sitetitle">Data reporting for business</div>
        <div id="sitetagline">This site is part of the Reportnet</div>
      </div> <!-- page head -->
      <div id="menuribbon">
<!-- Last updated: 2011-03-01T10:41:29Z
     To update download http://www.eionet.europa.eu/dropdownmenus.txt -->
        <ul id="dropdowns">
</ul>

      </div>

  
<div class="breadcrumbtrail">
<div class="breadcrumbhead">You are here:</div>
  <div class="breadcrumbitem eionetaccronym"><a href="http://www.eionet.europa.eu/">Eionet</a></div>
      <div class="breadcrumbitem"><a href="https://bdr.eionet.europa.eu">BDR</a></div>
        <div class="breadcrumbitemlast">Registry</div>
    <div class="breadcrumbtail"></div>
</div>


<div id="leftcolumn" class="localnav">
 <h2>Services</h2>
<ul>
<li><a href="/" title="BDR home">BDR home </a></li>
<li><a href="/searchdataflow" title="Search">Search </a></li>
<li><a href="/help" title="Introduction to Reportnet Repository">Help </a></li>
<li><a href="/selfregister" title="Create an account to report statistics">Self-registration </a></li>
{% if user.is_superuser %}
<li><a href="{% url admin:index %}" title="Account administration">Account admin</a></li>
{% endif %}
</ul>


</div>
<div id="workarea">


{% for message in messages %}
    <div class="system-msg">{{ message }}</div>
{% endfor %}


{% block content %}
{% endblock %}

</div> <!-- workarea -->
</div> <!-- container -->
<div id="pagefoot">
Document last modified 2012/02/10.
</div>
</body>
</html>

