{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}{{ company.pk }}">{{ company|truncatewords:"18" }}</a>
&rsaquo; name history
</div>
{% endblock %}


{% block content %}
<h1>History of name updates for <em>{{ company.name }}</em></h1>

<table>

  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    {% for item in company.namehistory.all %}
      <tr>
        <td>{{ item.time }}</td>
        <td>{% firstof item.user '(automated script)' %}</td>
        <td>{{ item.name }}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
