{% extends "bdr_layout.html" %}
{% load i18n %}


{% block content %}

  <h1>{% trans "BDR registry of companies" %}</h1>

  {% with company_details=view.get_user_company_details %}
    {% for entry in  company_details %}
        <p>{% trans "Your company's details" %} <a href="{% url 'company' entry.company.id %}">{{ entry.company.name }}</a></p>
      {% if entry.has_reporting_folder %}
        <p>{% trans "Your company's reporting folder" %} <a href="{{ entry.reporting_folder_path }}">{{ entry.reporting_folder_path }}</a></p>
      {% endif %}
    {% empty %}
      <p>{% trans "Company" %} <a href="{% url 'self_register' %}">{% trans "self-registration" %}</a>.</p>
      <p>{% trans "Company" %} <a href="{% url 'self_register_hdv' %}">{% trans "self-registration for HDV manufacturers" %}</a>.</p>
      {% if not user.is_authenticated %}
        <p><a href="{% url 'person_set_request' %}">Reset your password(for personal accounts and company accounts with owner set only)</a></p>
      {% endif %}
    {% endfor %}
  {% endwith %}

{% endblock %}
