{% extends "bdr_layout.html" %}
{% load i18n %}


{% block content %}

<h1>{% trans "BDR registry of companies" %}</h1>

{% with company_details=view.get_user_company_details %}

	{% if company_details.has_company %}
		<p>{% trans "Your company's details" %} <a href="{% url 'company' company_details.company.id %}">{{ company_details.company.name }}</a></p>
		{% if company_details.has_reporting_folder %}
			<p>{% trans "Your company's reporting folder" %} <a href="{{ company_details.reporting_folder_path }}">{{ company_details.reporting_folder_path }}</a></p>
		{% endif %}
	{% else %}
		<p>{% trans "Company" %} <a href="{% url 'self_register' %}">{% trans "self-registration" %}</a>.</p>
		<p>{% trans "Company" %} <a href="{% url 'self_register_hpv' %}">{% trans "self-registration for HDV manufacturers" %}</a>.</p>
		<p><a href="{% url 'person_set_request' %}">Reset your password</a></p>
	{% endif %}

{% endwith %}

{% endblock %}
