{% extends "bdr_layout.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Add person" %}</h1>

<form method="post">
  {% csrf_token %}

  <table class="formtable">
  <col style="width:10em"/>
  {% for field in form %}
    <tr>
      <td>
        <label for="id_{{ field.name }}" class="question
            {% if field.field.required %}required{% endif %}">
          {{ field.label }}
        </label>
      </td>
      <td>
        {% for err in field.errors %}
          <div class="bdr-error">{{ err }}</div>
        {% endfor %}
        {{ field }}
      </td>
    </tr>
  {% endfor %}
  </table>

  <button type="submit">{% trans "Save" %}</button>

  <a href="{% url organisation_update organisation_pk %}">{% trans "Back" %}</a>

</form>

{% endblock %}
