{% extends "admin/base_site.html" %}


{% block content %}
<h1>Are you sure?</h1>

<form action="" method="post">

  {% csrf_token %}

  <p>The following organisations will receive a new account:</p>

  <ul>
  {% for organisation in organisations_without_account %}

    <li>{{ organisation }}</li>

  {% endfor %}
  </ul>

  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}"
           value="{{ obj.pk }}" />
  {% endfor %}

  <p>
    <label>
      <input type="checkbox" name="passwords" checked="checked">
      Reset their passwords
    </label>
  </p>

  <p>
    <input type="hidden" name="action" value="create_accounts" />
    <input type="hidden" name="perform_create" value="yes">
    <input type="submit" value="Create accounts">
  </p>

</form>
{% endblock %}
