{% extends "admin/base_site.html" %}


{% block content %}
<h1>Are you sure?</h1>

<form action="" method="post">

  {% csrf_token %}

  <p>A password reminder email will be sent to the following people:</p>

  <ul>
  {% for organisation in organisations_with_account %}

    <li>

      {{ organisation }}

      <ul>
      {% for person in organisation.people.all %}
        <li><strong>{{ person }}</strong></li>
      {% endfor %}
      </ul>

    </li>

  {% endfor %}
  </ul>

  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}"
           value="{{ obj.pk }}" />
  {% endfor %}
  <input type="hidden" name="action" value="send_password_email" />
  <input type="hidden" name="perform_send" value="yes">
  <input type="submit" value="Send the emails">

</form>
{% endblock %}
