<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>BDR password reminder</title>
</head>

<body>

<p>
  This message is addressed to you as the contact person of an
  undertaking that needs to report data on fluorinated greenhouse gases
  (F-Gases) under Article 6 of Regulation (EC) No 842/2006.
</p>

<p>
  For the submission of your report for
  <strong>{{ organisation.country.name }}</strong> to BDR (<a
  href="https://bdr.eionet.europa.eu/"
  >https://bdr.eionet.europa.eu/</a>),
  your username is <strong>{{ organisation.account.uid }}</strong>, and
  your password is <strong>{{ organisation.account.password }}</strong>.
</p>

<p>
  If you received this e-mail but you think that you are no longer
  subject to the reporting obligations, please be so kind to inform us
  accordingly by e-mail to: <a
  href="mailto:f-gases.reporting@eea.europa.eu"
  >f-gases.reporting@eea.europa.eu</a>.
</p>

<p>
  For technical assistance with access to BDR and the submission process
  please contact the BDR helpdesk at <a
  href="mailto:BDR.helpdesk@eea.europa.eu"
  >BDR.helpdesk@eea.europa.eu</a>.
</p>

<p>&nbsp;</p>

<p>Thank you in advance for your co-operation.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>Yours faithfully </p>
<p>Eva Goossens</p>

<p>&nbsp;</p>

<p>Mitigation Group</p>
<p>European Environment Agency</p>
<p>Kongens Nytorv 6</p>
<p>DK-1050 Copenhagen, Denmark </p>

<p>&nbsp;</p>

<p>
  Contact e-mail for F-Gas reporting issues: <a
  href="mailto:f-gases.reporting@eea.europa.eu"
  >f-gases.reporting@eea.europa.eu</a>
</p>

</body>
</html>
