{% extends "admin/base_site.html" %}


{% block content %}
<h1>Are you sure?</h1>

<form action="" method="post">

  {% csrf_token %}

  <p>The following organisations will have their password reset:</p>

  <ul>
  {% for organisation in organisations_with_account %}

    <li>{{ organisation }}</li>

  {% endfor %}
  </ul>

  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}"
           value="{{ obj.pk }}" />
  {% endfor %}
  <input type="hidden" name="action" value="reset_password" />
  <input type="hidden" name="perform_reset" value="yes">
  <input type="submit" value="Reset their passwords">

</form>
{% endblock %}
