{% extends "bdr_layout.html" %}
{% load static from staticfiles %}


{% block content %}


<div id="operations">
  <ul>
    <li><a href="{{ reporting_url }}"
           title="Go back to the collection for this organisation"
           >Back to reporting</a></li>
  </ul>
</div>


<h1>Update organisation <em>{{ object.name }}</em></h1>


<h2>Company details</h2>

<form method="post">
  {% csrf_token %}

  <table class="formtable">
  <col style="width:10em"/>
  {% for field in form %}
    <tr>
      <td>
        <label for="id_{{ field.name }}" class="question
            {% if field.field.required %}required{% endif %}">
          {{ field.label }}
        </label>
      </td>
      <td>
        {% for err in field.errors %}
          <div class="bdr-error">{{ err }}</div>
        {% endfor %}
        {{ field }}
      </td>
    </tr>
  {% endfor %}
  </table>

  <button type="submit">Save</button>

</form>


<h2>People</h2>

<ul>
{% for person in organisation.people.all %}
  <li>
    <a href="{% url person_update person.pk %}">{{ person }}</a>
    <a class="delete" href="{% url person_delete person.pk %}">
      <img src="{% static "admin/img/icon_deletelink.gif" %}">
    </a>
  </li>
{% endfor %}
</ul>

<form action="{% url organisation_add_person organisation.pk %}">
  <button type="submit">New person</button>
</form>


{% endblock %}
