{% extends "bdr_layout.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load assets %}

{% block head %}

  {% assets "management_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  {% assets "management_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}

{% block content %}

<h1>{% trans "Self registration" %}</h1>
<h2>{% trans "Reporting undertakings" %}</h2>

<p>
  {% blocktrans %}Designated reporters of an undertaking, who have to report in accordance with Article 6 of the F-Gas Regulation or Article 27 of the ODS Regulation, should register in order to be able to report.{% endblocktrans %}
</p>

<ul>
  <li>
    {% blocktrans with helpdesk_email="<a href='mailto:bdr.helpdesk@eea.europa.eu'>bdr.helpdesk@eea.europa.eu</a>" %}In case you or another person in your company already have received a username and password but have forgotten it or in case you need further assistance logging in, please contact the helpdesk at: {{ helpdesk_email }}.{% endblocktrans %}
  </li>

  <li>
    {% trans "In case your undertaking is a first time reporter and has therefore not yet received a username and password, please proceed to the" %} <a href="#theform">{% trans "self-registration form" %}</a> {% trans "below" %}.
  </li>
</ul>

<h2 id="theform">{% trans "Self-registration form" %}</h2>
<p>
  {% blocktrans with helpdesk_email="<a href='mailto:bdr.helpdesk@eea.europa.eu'>bdr.helpdesk@eea.europa.eu</a>"%}Please note that this registration form should only be used if your company has not yet received a login and a password. In the case of a forgotten login or password or in the case of a change of reporter details, please contact the helpdesk at: {{ helpdesk_email }}.{% endblocktrans %}
</p>

<p>
  {% blocktrans %}For undertakings reporting for the first time, the account request will be evaluated and login and password will be provided.{% endblocktrans %}
</p>

<form method="post" class="form box-small">
  {% csrf_token %}
  <div class="row">
    <!-- Company details -->
    <div class="col-sm-6">
      <p class="h4 text-center">{% trans "Company details" %}</p>

      <table class="table-list full-width no-background">
      {% for field in organisation_form %}
        <tr>
          <th class="text-right small">
            <label for="id_{{ field.name }}" class="input-align {% if field.field.required %}required{% endif %}">
              {{ field.label }}
            </label>
          </th>
          <td class="bold">
            {% for err in field.errors %}
              <div class="bdr-error">{{ err }}</div>
            {% endfor %}
            {% if field.help_text %}
              {% render_field field title=field.help_text %}
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.name == 'eori' %}
              <a class="input-align small no-bold" href="http://ec.europa.eu/ecip/security_amendment/who_is_concerned/index_en.htm#eori">
                {% trans "About EORI number" %}</a>
            {% endif %}
            
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <!-- Company reporter -->
    <div class="col-sm-6">
      <p class="h4 text-center">{% trans "Reporter" %}</p>

      <table class="table-list full-width no-background">
      {% for field in person_form %}
        <tr>
          <th class="text-right small">
            <label for="id_{{ field.name }}" class="input-align
                {% if field.field.required %}required{% endif %}">
              {{ field.label }}
            </label>
          </th>
          <td class="bold">
            {% for err in field.errors %}
              <div class="bdr-error">{{ err }}</div>
            {% endfor %}
            {% if field.help_text %}
              {% render_field field title=field.help_text %}
            {% else %}
              {{ field }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    <p class="text-center">{% trans "Later you can add other reporters." %}</p>
    </div>
  </div>
  <hr />
  <div class="btn-toolbar text-center no-bottom">
    <button type="submit" class="btn-blue">{% trans "Request account" %}</button>
  </div>
</form>

{% endblock %}
