<form method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Company details</legend>

    <table>
    {% for field in organisation_form %}
      <tr>
        <td>
          {% for err in field.errors %}
            {{ err }}
          {% endfor %}
          {{ field.label_tag }}
        </td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
    </table>

  </fieldset>

  <fieldset>
    <legend>Designated company reporter nr 1</legend>

    <table>
    {% for field in person_form %}
      <tr>
        <td>
          {% for err in field.errors %}
            {{ err }}
          {% endfor %}
          {{ field.label_tag }}
        </td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
    </table>

  </fieldset>

  <button type="submit">Request account</button>

</form>
