{% load utils %}
{% load i18n %}
{% load widget_tweaks %}

{{ form.title|custom_render_field }}

<div class="row">
  <div class="col-sm-6">
    <!-- First Name -->
    {{ form.first_name|custom_render_field }}
  </div>
  <div class="col-sm-6">
    <!-- Family Name -->
    {{ form.family_name|custom_render_field }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <!-- First Name -->
    {{ form.email|custom_render_field }}
  </div>
  <div class="col-sm-6">
    <!-- Family Name -->
    {{ form.phone|custom_render_field }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <!-- First Name -->
    {{ form.phone2|custom_render_field }}
  </div>
  <div class="col-sm-6">
    <!-- Family Name -->
    {{ form.phone3|custom_render_field }}
    </div>
</div>

{{ form.fax|custom_render_field }}

{% if form.company %}
  {{ form.company }}
{% endif %}
