{% load utils %}
{% load i18n %}
{% load widget_tweaks %}


{% include 'bdr_management/_edit_header.html' %}
<div class="row">
<form class="form col-md-8 push-top" method="post">
    {% csrf_token %}
    {% for field in form %}
      <tr>
        <td>
          <label for="id_{{ field.name }}"
            class="question {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
        </td>
        <td>
          {{ field|add_error_class:"error" }}
        </td>
      </tr>
    {% endfor %}

</form>
</div>
