{% load utils %}
{% load i18n %}
{% load widget_tweaks %}

<!-- Company name -->
    <div class="form-group">
      <label for="id_{{ form.name.name }}">{{ form.name.label }}</label>
      {{ form.name|add_error_class:"form-error" }}
    </div>
    <!-- Website -->
    <div class="form-group">
      <label for="id_{{ form.website.name }}">{{ form.website.label }}</label>
      {{ form.website|add_error_class:"form-error" }}
    </div>
    <!-- Active -->
    <div class="form-group clearfix">
      <label class="btn inline-block" for="id_{{ form.active.name }}">
        {{ form.active }}
        {{ form.active.label }}
      </label>
      &ensp;
      <p class="input-align inline-block muted no-margins">
        Explanatory text
      </p>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <!-- Account -->
        <div class="form-group">
          <label for="id_{{ form.account.name }}">{{ form.account.label }}</label>
          {{ form.account|add_error_class:"form-error" }}
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Obligation -->
        <div class="form-group">
          <label for="id_{{ form.obligation.name }}">{{ form.obligation.label }}</label>
          {{ form.obligation|add_error_class:"form-error" }}
        </div>
      </div>
    </div>
    <hr />
    <!-- Address -->
    <div class="form-group">
      <label for="id_{{ form.addr_street.name }}">{{ form.addr_street.label }}</label>
      {{ form.addr_street|add_error_class:"form-error" }}
    </div>
    <div class="row">
      <div class="col-sm-6">
        <!-- Municipality -->
        <div class="form-group">
          <label for="id_{{ form.addr_place1.name }}">{{ form.addr_place1.label }}</label>
          {{ form.addr_place1|add_error_class:"form-error" }}
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Region -->
        <div class="form-group">
          <label for="id_{{ form.addr_place2.name }}">{{ form.addr_place2.label }}</label>
          {{ form.addr_place2|add_error_class:"form-error" }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <!-- Postal Code -->
        <div class="form-group">
          <label for="id_{{ form.addr_postalcode.name }}">{{ form.addr_postalcode.label }}</label>
          {{ form.addr_postalcode|add_error_class:"form-error" }}
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Country -->
        <div class="form-group">
          <label for="id_{{ form.country.name }}">{{ form.country.label }}</label>
          {{ form.country|add_error_class:"form-error" }}
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <!-- Eori -->
        <div class="form-group">
          <div class="clearfix">
            <label for="id_{{ form.eori.name }}" 
                   class="pull-left">{{ form.eori.label }}</label>
            <a class="pull-left" style="margin-left: 12px;"
               href="http://ec.europa.eu/ecip/security_amendment/who_is_concerned/index_en.htm#eori">
              {% trans "About EORI number" %}
            </a>
          </div>
          {{ form.eori|add_error_class:"form-error" }}
        </div>
      </div>
      <div class="col-sm-6">
        <!-- VAT -->
        <div class="form-group no-bottom">
          <label for="id_{{ form.vat_number.name }}">{{ form.vat_number.label }}</label>
          {{ form.vat_number|add_error_class:"form-error" }}
        </div>
      </div>
    </div>
