{% load utils %}
{% load i18n %}
{% load widget_tweaks %}


{% include 'bdr_management/_edit_header.html' %}

<form method="post">
  {% csrf_token %}

  <table>

    {% for field in form %}
      <tr>
        <td>
          <label for="id_{{ field.name }}"
            class="question {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
        </td>
        <td>
          {{ field|add_error_class:"error" }}
          {% if field.name == 'eori' %}
            <div>
              <a href="http://ec.europa.eu/ecip/security_amendment/who_is_concerned/index_en.htm#eori">
                <small>{% trans "About EORI number" %}</small></a>
            </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}

    <tr>
      <td colspan="2">
        <button type="submit" class="primary_button">Save</button>
      </td>
    </tr>

  </table>

</form>

