{% load utils %}
{% load i18n %}
{% load widget_tweaks %}

  {% if 'update' in request.path %}
  <h1>{% trans "Edit company details" %}</h1>

  <p>
    {% blocktrans with helpdesk_email="<a href='mailto:bdr.helpdesk@eea.europa.eu'>bdr.helpdesk@eea.europa.eu</a>" %}
      For changes on the VAT number please contact the helpdesk at: {{ helpdesk_email }}.
    {% endblocktrans %}
  </p>
  {% endif %}

  <div class="leading-large">
    {{ form.name|custom_render_field }}

    {{ form.website|custom_render_field }}
  </div>

  {% if not update_view %}
  <div class="leading-large">
    <div class="form-group clearfix">
      <label class="btn inline-block" for="id_{{ form.active.name }}">
        {{ form.active }}
        {{ form.active.label }}
      </label>
      &ensp;
      <p class="input-align inline-block muted no-margins">
        Checked if the company is active
      </p>
    </div>

    <div class="form-group clearfix">
      <label class="btn inline-block" for="id_{{ form.outdated.name }}">
        {{ form.outdated }}
        {{ form.outdated.label }}
      </label>
      &ensp;
      <p class="input-align inline-block muted no-margins">
        Checked if the company is not conducting any business and the name is outdated
      </p>
    </div>
  </div>
  {% endif %}

  <div class="leading-large">
    <div class="row">
      <div class="col-sm-6">
        {{ form.account|custom_render_field }}
      </div>
      <div class="col-sm-6">
        {{ form.obligation|custom_render_field }}
      </div>
    </div>
  </div>

  <div class="leading-large">
    {{ form.addr_street|custom_render_field }}

    <div class="row">
      <div class="col-sm-6">
        {{ form.addr_place1|custom_render_field }}
      </div>
      <div class="col-sm-6">
        {{ form.addr_place2|custom_render_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {{ form.addr_postalcode|custom_render_field }}
      </div>
      <div class="col-sm-6">
        {{ form.country|custom_render_field }}
      </div>
    </div>
  </div>

  <div class="leading-large">
    <div class="row">
      <div class="col-sm-6">
        <!-- Eori -->
        <div class="form-group">
          <div class="clearfix">
            <label for="id_{{ form.eori.name }}"
                   class="pull-left">{{ form.eori.label }}</label>
            <a class="pull-left" style="margin-left: 12px;"
               href="http://ec.europa.eu/ecip/security_amendment/who_is_concerned/index_en.htm#eori">
              {% trans "About EORI number" %}
            </a>
          </div>
          {{ form.eori|add_error_class:"form-error" }}
          {% for err in form.eori.errors %}
            <div class="bdr-error">{{ err }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-6">
        {{ form.vat_number|custom_render_field }}
      </div>
    </div>
  </div>


  {% if management %}
    <div class="leading-large">
      <h2>{% trans "Reporting years" %}</h2>
      <div class="row">
      {% for year, reported in years.items %}
        <div class="col-sm-2">
          <label for="{{ year }}">{{ year }}</label>
          <select name="{{ year }}" id="{{ year }}">
            <option value="" {% if reported == None %} selected="selected" {% endif %}></option>
            <option value="active" {% if reported %} selected="selected" {% endif %}>Active</option>
            <option value="inactive" {% if reported == False %} selected="selected" {% endif %}>Inactive</option>
          </select>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}
