{% load utils %}
{% load i18n %}
{% load widget_tweaks %}

<div class="row">
  <div class="col-sm-6">
    {{ form.title|custom_render_field }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.first_name|custom_render_field }}
  </div>
  <div class="col-sm-6">
    {{ form.family_name|custom_render_field }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.email|custom_render_field }}
  </div>
  <div class="col-sm-6">
    {{ form.phone|custom_render_field }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.phone2|custom_render_field }}
  </div>
  <div class="col-sm-6">
    {{ form.phone3|custom_render_field }}
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.fax|custom_render_field }}
  </div>
  {% if form.company %}
    <div class="col-sm-6">
      {{ form.company|custom_render_field }}
    </div>
  {% endif %}
</div>