{% load utils %}
{% load i18n %}

<h1>{{ object }}</h1>

<div class="actions">
  {% if user|has_permission:object %}
    {% if edit_url %}
      <a href="{{ edit_url }}" class="button">{% trans "Edit" %}</a>
    {% endif %}
    {% if delete_url %}
      <a href="{{ delete_url }}" class="button">{% trans "Delete" %}</a>
    {% endif %}
  {% endif %}
  {% if back_url %}
      <a href="{{ back_url }}" class="button">{% trans "Back" %}</a>
    {% endif %}
</div>

<form id="delete-form" action="{{ delete_url }}" method="post">
  <fieldset class="noborder">
    {% csrf_token %}
  </fieldset>
</form>

<table class="datatable table-object">

  <tbody>
    {% for field in fields %}
      <tr>
        <th class="scope-row">{{ field.verbose_name|capfirst }}</th>
        <td class="scope-pad">
          {{ object|getattribute:field.name|process_field }}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>
