{% extends 'bdr_management/_management_base.html' %}


{% block content %}

  <h1>Reset passwords for {{ company }}</h1>

  <p>Are you sure?</p>

  <form method="POST" action="">

    {% csrf_token %}

    <label>
      <input type="checkbox" checked="checked" name="perform_send">
       Send emails with new passwords
    </label>

    <div id="company-persons">
      <ul>
        {#    TODO: Show only persons with an account. #}
        {% for person in company.people.all %}
          <li><b>{{ person }}</b></li>
        {% endfor %}
      </ul>
    </div>

    <br><br>
    <button type="submit">Reset password</button>
    <a href="{% url 'management:companies_view' pk=object.pk %}"><small>Cancel</small></a>
  </form>

{% endblock %}
