{% extends 'bdr_management/_management_base.html' %}

{% block content %}
  <h1>History of name updates for <em>{{ company.name }}</em></h1>

  <table class="dataTable">

    <thead>
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {% for item in company.namehistory.all %}
        <tr>
          <td>{{ item.time }}</td>
          <td>{% firstof item.user '(automated script)' %}</td>
          <td>{{ item.name }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
