{% extends 'bdr_management/_management_base.html' %}
{% load utils %}
{% load i18n %}


{% block content %}

  <div class="overflow">

    {% include 'bdr_management/_view.html' %}

    <table class="datatable table-actions" cellpadding="0"
           cellspacing="0">
      <thead>
        <tr>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if object.account %}
        <tr>
          <td>
            <a id="reset-password-action" href="{% url 'management:reset_password' pk=object.pk %}">
              {% trans "Reset password" %}</a>
          </td>
        </tr>
        {% endif %}

        {% if not object.account %}
        <tr>
          <td>
            <a id="create-account-action" href="{% url 'management:create_account' pk=object.pk %}">
              {% trans "Create account" %}</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <h2>{% trans "Comments" %}</h2>

  <ul class="no-list">
  {% for comment in object.comments.all %}
    <li class="comment push-bottom">
      {{ comment.text|safe }}
      <div class="small muted">
        <!-- Date -->
        {{ comment.created|date:"d b Y" }}
        <!-- Actions -->
        {% if user|has_permission:object %}
        &ensp;|&ensp;
        <a class='btn-text delete-link' 
           href="{% url comment_delete_route pk=company.pk comment_pk=comment.pk %}">
          {% trans "Delete comment" %}
        </a>
        {% endif %}
      </div>
    </li>
  {% empty %}
    <p>{% trans "There are no comments for this company." %}</p>
  {% endfor %}
  </ul>
  {% if user|has_permission:object %}
  <div class="btn-toolbar">
    <a href="{{ comment_add_url}}" class="btn">{% trans "Add comment" %}</a>
  </div>
  {% endif %}


  <h2>{% trans "Persons" %}</h2>
  {% if user|has_permission:object %}
    <div class="sub-actions">
      <a href="{{ person_add_url }}" class="button">
        {% trans "Add a new person" %}</a>
    </div>
  {% endif %}

  <ul>

    {% for person in object.people.all %}
      <li>
        <a href="{% url person_route pk=person.pk %}">
          {{ person.formal_name }}</a>
      </li>
    {% endfor %}

  </ul>

{% endblock %}
