{% extends 'bdr_management/_management_base.html' %}


{% block content %}

<h1>Create account for {{ organisation }}</h1>

<form method="POST" action="" class="push-top">
{% csrf_token %}

  <div class="form-group">
    <label>
      <input type="checkbox" checked="checked" name="send_mail">
       Send emails with new passwords
    </label>
  </div>

  <div id="organisation-persons">
    <ul>
      {% for person in organisation.people.all %}
        <li><b>{{ person }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="btn-toolbar">
    <button class="btn-blue" type="submit">Create account</button>
    <a class="btn" href="{% url 'management:organisations_view' pk=organisation.pk %}">
      Cancel
    </a>
  </div>
</form>

{% endblock %}
