{% extends 'bdr_management/_management_base.html' %}
{% load utils %}
{% load i18n %}


{% block content %}

  {% url 'management:obligations_filter' as url %}

  {% assign '["name", "code", "reportek_slug", "email_template"]' as columns %}
  {% assign '' as column_defs %}

  <div class="push-bottom clearfix">
    <h1 class="input-align inline-block no-margins">
      {% trans "Obligations" %}
    </h1>
    {% if user|has_permission:None %}
      <div class="pull-right h1-align">
        <a class='btn btn-green' href="{% url 'management:obligations_add' %}">
          {% trans 'Add a new obligation' %}
        </a>
      </div>
    {% endif %}
  </div>
  <hr />

  <table data-toggle='datatable' data-source='{{ url }}'
         data-columns='{{ columns }}'
         data-column-defs='{{ column_defs }}'>

    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Code" %}</th>
        <th>{% trans "Slug" %}</th>
        <th>{% trans "Email Template" %}</th>
      </tr>
    </thead>

  </table>

{% endblock %}
