{% extends 'bdr_management/_management_base.html' %}
{% load utils %}
{% load i18n %}


{% block content %}

  {% url 'management:organisations_filter' as url %}

  {% assign '["id", "name", "obligation", "account", "country", "vat_number", "date_registered"]' as columns %}
  {% assign '' as column_defs %}
  {% assign '[[7, "desc"]]' as column_sorting %}

  <h1>{% trans "Organisations" %}</h1>

  <div class="filters">
    {% include 'bdr_management/_organisation_filters.html' %}
  </div>

  {% if user.is_superuser %}
    <div class="actions">
      <a href="{% url 'management:organisations_add' %}" class="button">{% trans "Add a new organisation" %}</a>
    </div>
  {% endif %}

  <table data-toggle='datatable' data-source='{{ url }}'
         data-columns='{{ columns }}'
         data-column-defs='{{ column_defs }}'
         data-column-sorting='{{ column_sorting }}'>

    <thead>
      <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Company name" %}</th>
        <th>{% trans "Obligation" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Country" %}</th>
        <th>{% trans "VAT number" %}</th>
        <th>{% trans "Date registered" %}</th>
      </tr>
    </thead>

  </table>

{% endblock %}
