{% extends 'bdr_management/_management_base.html' %}
{% load utils %}


{% block breadcrumbs %}

  <div class="breadcrumbitem">
    <a href="{% url 'home' %}">Registry</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations' %}">
      Organisations</a>
  </div>

  <div class="breadcrumbitem">
    <a href="{% url 'management:organisations_view' pk=object.pk %}">
      {{ object }}</a>
  </div>

  <div class="breadcrumbitemlast">
    Edit {{ object }}
  </div>

{% endblock %}


{% block content %}

  {% include 'bdr_management/_edit.html' %}

{% endblock %}
