{% extends 'bdr_management/_management_base.html' %}
{% load utils %}
{% load i18n %}


{% block content %}

  {% include 'bdr_management/_view.html' %}

  <h2>{% trans "Comments" %}</h2>
  {% if user|has_permission:object %}
    <div class="sub-actions">
      <a href="{{ comment_add_url}}" class="button">{% trans "Add comment" %}</a>
    </div>
  {% endif %}

  <table class="comment no-border">
    <tbody>

    {% for comment in object.comments.all %}
      <tr>
        <td class="content">
          <p>{{ comment.text|safe }}</p>
          <p class="documentByLine">{{ comment.created|date:"d b Y" }}</p>
        </td>
        {% if user|has_permission:object %}
          <td class="action">
            <a class='delete-link' href="{% url comment_delete_route pk=organisation.pk comment_pk=comment.pk %}">
              <small>{% trans "Delete comment" %}</small>
            </a>
          </td>
        {% endif %}
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">
          <p>{% trans "There are no comments for this organisation." %}</p>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  <h2>{% trans "Persons" %}</h2>
  {% if user|has_permission:object %}
    <div class="sub-actions">
      <a href="{{ person_add_url }}" class="button">{% trans "Add a new person" %}</a>
    </div>
  {% endif %}

  <ul>

    {% for person in object.people.all %}
      <li>
        <a href="{% url person_route pk=person.pk %}">
          {{ person.formal_name }}</a>
      </li>
    {% endfor %}

  </ul>

{% endblock %}
