{% extends 'bdr_management/_management_base.html' %}
{% load widget_tweaks %}
{% load utils %}
{% load i18n %}


{% block content %}
  <h1>{{ title }}</h1>
  {% if form.errors  %}
    <div class="warning">
        <strong>{% trans "Please correct invalid fields before continuing." %}</strong>
    </div>
  {% endif %}
  <strong>Please set the new password for your account</strong>
  <div class="row">
    <form class="form form-horizontal col-md-8 push-top" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          {{ form.new_password1|custom_render_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.new_password2|custom_render_field }}
        </div>
      </div>
      <div class="btn-toolbar">
        <button type="submit" class="btn-blue">Save</button>
        <button type="button" class="cancel-button" data-href="{{ cancel_url }}">Cancel</button>
      </div>
    </form>
  </div>
{% endblock %}