{% extends 'bdr_management/_management_base.html' %}


{% block content %}

  <h1>Reset password for {{ company }}</h1>
  <form method="POST" action="">

    {% csrf_token %}

    {% if company.main_reporter %}
      <p>The e-mail with the new password will be sent only to the main account, which is set for person {{ company.main_reporter }}</p>
      <button type="submit">Reset password</button>
    {% else %}
      <p>You first need to select a company account owner for this action.</p>
    {% endif%}

    <a href="{{request.META.HTTP_REFERER|escape}}"><small>Cancel</small></a>
  </form>

{% endblock %}
