{% extends "bdr_layout.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load assets %}

{% block head %}

  {% assets "management_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  {% assets "management_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}

{% block content %}

  <div>{% trans "The self registry form has expired. Please try again." %}</div>
  <br>
	<a href="{% url "self_register" %}">{% trans "Back" %}</a>

{% endblock %}
